body {
  padding: 0;
  text-align: center;
  background-image: url("https://i.ibb.co/vZLZ40J/mario-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#game-intro {
  padding: 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

#game-play{
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  justify-content:space-around;
}

#mario-gif {
    display: none;
}

#mario-gif img{
  width: auto;
  height: 150px;
}


#you-win-buttons {
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: space-around;
}


#game-container {
  display: none;
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: space-evenly;
  align-items: center;
}

#game-screen {
  display: none;
  align-content: center;
  /* padding: 20px 0px;*/
  overflow: hidden;
  position: relative;
  background-image: url("https://i.ibb.co/qNbbtWL/clouds-background.jpg");
  background-size: cover;
  animation: slide 15s linear infinite;
}

@keyframes slide {
  0% {
    background-position: -1000px 0 ;
  }
  100% {
    background-position: 0 0 ;
  }
}

#game-end {
  display: none;
}

#you-win{
  display: none;
}

#score-div {
  display: none;
}

#score-div h3{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  color:#CE0204;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

#start-button{
  width: auto;
  height: 100px;
}

#restart-button-win{
  margin-top: 50px;
  width: auto;
  height: 100px;
}
#restart-button-lose {
  margin-top: 50px;
  width: auto;
  height: 100px;
}

#next-level {
  margin-top: 50px;
  width: auto;
  height: 100px;
}
.logo-img {
  width: auto;
  height: 400px;
}
#gameover-img{
  margin-top: 50px;
  width: auto;
  height: 200px;
}

.arrow-img {
  width: auto;
  height: 100px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
