.grid {
  position: absolute;
  width: 420px;
  height: 600px;
  border: solid 1px black;
  margin-top: 100px;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blueviolet;
  border: solid 1px black;
}

.block {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image:url(Images/transferir\ \(1\).jpg) ;
  background-size: cover;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: red;
  border: solid 1px black;

}